<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content refreshingSpinner="lines-sharp"></ion-refresher-content>
  </ion-refresher>
  <div>
    <div class="header">
      <ion-button class="back-btn" (click)="goBack()">
        <ion-icon size="large" slot="icon-only" src="assets/icons/arrow-left.svg"></ion-icon>
      </ion-button>

      <button id="remove-confirm" class="accent-btn">
        remove
      </button>
    </div>

    <div class="body">
      <div class="cover-art">
        <img [src]="convertToHttps(book.coverArt)"/>
      </div>

      <div class="title">{{ book.title }}</div>
      <div class="authors">
        @for (author of book.authors; track author.id) {
          {{ author.name }}
        }
      </div>
      <div class="summary">
        {{ book.summary }}
      </div>

      <div class="meta-row">
        Publisher: <span>{{ book.publisher.name }}</span>
      </div>
      <div class="meta-row">
        ISBN: <span>{{ book.isbn13 ?? book.isbn }}</span>
      </div>
      <div class="meta-row">
        Publish Year: <span>{{ book.publishYear ?? 'N/A' }}</span>
      </div>
      <div class="meta-row">
        Page Count: <span>{{ book.pageCount }}</span>
      </div>
      <div class="meta-row">
        Source: <span>{{ book.source }}</span>
      </div>
      <div class="meta-row">
        Availability: <span>{{ book.isAvailable ? 'Available' : 'Lent Out' }}</span>
      </div>
      <div class="meta-row">
        Added At: <span>{{ book.createdAt | date: 'dd MMM \'yy HH:mmaa' }}</span>
      </div>

      <!-- Lending actions -->
      @if (book.isAvailable) {
        <ion-button expand="block" mode="ios" (click)="openBorrowDialog()">
          Lend Book
        </ion-button>
      } @else {
        @if (currentLoan) {
          <div class="meta-row">
            Lent to: <span>{{ currentLoan.borrowedBy }}</span>
          </div>
          <div class="meta-row">
            Since: <span>{{ currentLoan.borrowedAt | date: 'dd MMM yy' }}</span>
          </div>
        }
        <ion-button expand="block" mode="ios" (click)="returnBook()">
          Mark as Returned
        </ion-button>
      }

      <!-- Lending history -->
      @if (lendingHistory.length > 0) {
        <div class="section-title">Lending History</div>
        @for (record of lendingHistory; track record.borrowedAt) {
          <div class="history-row">
            <span class="history-name">{{ record.borrowedBy }}</span>
            <span class="history-dates">
              {{ record.borrowedAt | date: 'dd MMM yy' }} &ndash; {{ record.returnedAt | date: 'dd MMM yy' }}
            </span>
          </div>
        }
      }
    </div>
  </div>
</ion-content>

<ion-alert
  trigger="remove-confirm"
  header="Confirm"
  message="Are you sure you want to remove this book? This action is permanent and cannot be undone!"
  [buttons]="removeButtons"></ion-alert>

<ion-modal
  id="lend-book-modal"
  [isOpen]="isLendModalVisible"
  [canDismiss]="canDismiss">
  <ng-template>
    <div class="wrapper">
      <ion-toolbar>
        <ion-title>lend book</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismissLendModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <form>
        <div class="input-field">
          <ion-input
            name="borrower-name"
            label="borrower's name"
            fill="outline"
            label-placement="floating"
            type="text"
            placeholder="borrower name"
            [(ngModel)]="lendPayload.borrowerName"></ion-input>
        </div>

        <div class="input-field">
          <ion-button
            expand="block"
            mode="ios"
            [disabled]="isLending"
            (click)="lendBook()">
            @if (isLending) {
              <ion-spinner name="lines-sharp"></ion-spinner>
            } @else {
              lend book
            }
          </ion-button>
        </div>
      </form>
    </div>
  </ng-template>
</ion-modal>
