<ion-content [fullscreen]="true">
  <div class="container">
    <div>
      <div>
        <ion-label>
          verify your
        </ion-label>
      </div>

      <div>
        <ion-label class="atheneum">
          account
        </ion-label>
      </div>

      <div class="input-field">
        <ion-input
          name="verification-code"
          label="verification code"
          fill="outline"
          label-placement="floating"
          type="text"
          max="6"
          [maxlength]="6"
          placeholder="e.g 398472"
          [(ngModel)]="payload.verificationCode">
        </ion-input>
      </div>

      <ion-button
        expand="block"
        mode="ios"
        [disabled]="isVerifying"
        (click)="verify()">
        @if (isVerifying) {
          <ion-spinner name="lines-sharp"></ion-spinner>
        } @else {
          verify account
        }
      </ion-button>

      <ion-button
        expand="block"
        mode="ios"
        class="inverted"
        [disabled]="isResending || resendWaitRemaining !== 0"
        (click)="resend()">
        @if (isResending) {
          <ion-spinner name="lines-sharp"></ion-spinner>
        } @else {
          @if (resendWaitRemaining === 0) {
            resend verification code
          } @else {
            resend code in {{resendWaitRemaining}}s ...
          }
        }
      </ion-button>
    </div>
  </div>
</ion-content>
